<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>

<div class='container mt-5'>
    <h1 style="font-size: 75px; font-family: 'Indie Flower', cursive; color: white; text-align: center;">
        <strong>myTimer</strong> <%= icon('far', 'clock', class: 'strong') %>
    </h1>

    <br><br>

    <h3 style="font-family: 'Varela Round', sans-serif; color: white; text-align: center;">
        what would you like to do today?
    </h3>
    <br>

    <div align='center'>
        <hr>
        <div>
            <a href='/timer' class='btn btn-danger btn-lg' id='ss-btn'>sessions</a>

            <div class='mt-2' id='ss-text' style='display: none;'>
                <div class="arrow-up"></div>
                <div class="text-wrapper">
                    Start a new session.
                </div>
            </div>
        
        </div>
        <hr>

        <hr>
        <div>
            <a href='/stats' class='btn btn-danger btn-lg' id='st-btn'>stats</a>

            <div class='mt-2' id='st-text' style='display: none;'>
                <div class="arrow-up"></div>
                <div class="text-wrapper">
                    View statistics for my previous sessions.
                </div>
            </div>

        </div>
        <hr>

        <hr>
        <div>
            <a href='/achievements' class='btn btn-danger btn-lg' id='ach-btn'>acheivements</a>

            <div class='mt-2' id='ach-text' style='display: none;'>
                <div class="arrow-up"></div>
                <div class="text-wrapper">
                    View my acheivements and any locked acheivements.
                </div>
            </div>

        </div>
        <hr>

        <hr>
        <div>
            <a href='/goals' class='btn btn-danger btn-lg' id='gl-btn'>goals</a>

            <div class='mt-3' id='gl-text' style='display: none;'>
                <div class="arrow-up"></div>
                <div class="text-wrapper">
                    Create, view, and delete goals.
                </div>
            </div>

        </div>
        <hr>
        
    </div>
    
    <br>

    <h3 style="font-family: 'Varela Round', sans-serif; color: white; text-align: center;">
        logged in as <%= current_user.uname %>.
    </h3>
    <div style="text-align: center;">
        <%= link_to "log out", logout_path, method: "delete", :style => 'color: black;' %>
    </div>
    
</div>