<div class="container mt-5">
    <h1 class='start-label'>edit existing goal.</h1>
    <div class='row'>
        <div class='col'>
            <div class='alert login-form-wrapper'>
                <%= render 'form', goal: @goal %>
            </div>
        </div>
        <div class='col'>
            
        </div>
    </div>

    <a href='/goals' style='color:black;'>&larr; go back to goals page.</a>
</div>
