/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
  
html, body {
    background-color: #ff4d4d;
}

.start-label {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.login-form-wrapper {
    background: #ff6666;
}

input[type=text],
input[type=password] {
    background-color: #ff9999;
    color: white;
    height: 40px;
    border: 0px solid #E6E6E6;
    border-radius: 3px; 
    margin: 3px;
    text-indent: 10px;
}

textarea {
    background-color: #ff9999;
    color: white;
    height: 120px;
    width: 75%;
    border: 0px solid #E6E6E6;
    border-radius: 3px; 
    margin: 3px;
    text-indent: 10px;
}

::placeholder {
    color: white;
}

.reg-submit {
    color: #FFFFFF;
    font-size: 18px;
    background: #ff3333;
    border-radius: 3px; 
    padding: 10px 20px;
    border: 0;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
}

.text-wrapper {
    background-color: white;
    font-family: 'Varela Round', sans-serif;
    color: #cc0000;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
}

#timer {
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #ff4d4d;
    background-color: #ffe6e6;
    border: 5px solid #ff8080;
}

#time-input {
    background-color: #ffe6e6;
    text-align: center;
    color: #ff3333;
    font-family: 'Alata', sans-serif;
    padding: 5px;
    border: 2px solid #cc0000;
}

#start-button {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

.change-time-btn {
    width: 50px;
    font-size: 20px;
}

.option-btn {
    width: 100%;
    background-color: white;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #ff3333;
    border-radius: 15px;
}

#bar-chart {
    margin-top: 25px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.achievement-have {
    font-family: 'Varela Round', sans-serif;
    background-color: #fff2e6;
    color: #cc0000;
    border-radius: 20px;
    border: 2px solid #993333;
    padding: 6px;
}

.achievement-not-have {
    font-family: 'Varela Round', sans-serif;
    background-color: #e6e6e6;
    color: #737373;
    border-radius: 20px;
    border: 2px solid #595959;
    padding: 6px;
}

.have-img-wrapper {
    border-radius: 15px;
    background-color: #cc0000;
    height: 110px;
    font-size: 20px;
    padding: 5px;
}

.not-have-img-wrapper {
    border-radius: 15px;
    background-color: #737373;
    height: 110px;
    font-size: 20px;
    padding: 5px;
}

.achievement-icon {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}