// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.goal-wrapper {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 5px #660000;
}

.form-wrapper {
    background-color: #ffcccc;
    padding: 10px;
    border-radius: 10px;
}